<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQbrga98UQ53b2me7QXCILqy9HVJEuA_YZkizojHIPaA&s" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
</head>
<body class="my-background">
{% include "navbar.html"%}
<div class="container-sm my-content2 font-color" style="padding:30px; width: 50%; position: absolute; top: 35%; left: 25%; border-radius: 1pc;">
    <form method="post">
        {{ form.hidden_tag() }}A
        <div class="row mb-3 ">
            {{ form.email.label(class="form-label font-color") }}
            {{ form.email(class="form-control font-color", placeholder=form.email.label.text ) }}
        </div>
        <div class="row mb-3">
            {{ form.password.label(class="form-label font-color") }}
            {{ form.password(class="form-control font-color", placeholder=form.password.label.text ) }}
        </div>
        <div class="row mb-3">
            <div class="col-sm-10">
                {{ form.checkbox(class="form-check-input font-color") }}
                {{ form.checkbox.label(class="form-check-label font-color") }}
            </div>
        </div>
        {{ form.submit(class="btn btn-primary font-color") }}
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="/static/search.js"></script>
</body>